{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "newlineBeforeReturn": true,
  "noDuplicateVariable": ["check-parameters"],
  "noVarKeyword": true,
  "arrowParens": "avoid",
  "bracketSpacing": true
}
